<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Ejercicios de evaluación de riesgos</span>
      <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0">
    <form name="composeForm" [formGroup]="composeForm" class="compose-form" fxLayout="column" fxFlex>

      <mat-form-field>
        <mat-label><b>Proceso / Subproceso</b></mat-label>
        <input matInput name="bcc" placeholder="Proceso / Subproceso" value="{{selectedProcess.proceso_Nombre}}"
               disabled rows="4">
      </mat-form-field>

      <mat-form-field>
        <mat-label><b>Descripcion ejercicio</b></mat-label>
                <textarea matInput name="message" placeholder="Descripcion ejercicio" formControlName="descripcion"
                          rows="4">
                </textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label><b>Estatus</b></mat-label>
        <mat-select placeholder="Estatus" formControlName="estatus_id">
          <mat-option *ngFor="let estado of ejercicioEstados | async" [value]="estado.id">
            {{ estado.estatus }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <button mat-raised-button class="save-button mat-accent" aria-label="Guardar" (click)="saveEjercicio()" [disabled]="composeForm.invalid">
            Guardar
          </button>
          <button mat-raised-button class="save-button mat-accent" aria-label="Cancelar" (click)="closeModal()">
            Cancelar
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
