<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Ejercicios  de evaluacion de riesgos</span>
            <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div mat-dialog-content class="p-16 m-0">
        <form name="composeForm" [formGroup]="composeForm" class="compose-form" fxLayout="column" fxFlex>

            <mat-form-field>
                <input matInput name="bcc" placeholder="Proceso / Subproceso" value="{{selectedProcess.proceso_Nombre}}" disabled>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput name="message" placeholder="Descripcion ejercicio" formControlName="descripcion" rows="4">
                </textarea>
            </mat-form-field>

            <mat-select placeholder="Estatus" formControlName="estatus_id">
              <mat-option>Seleccione un estado</mat-option>
              <mat-option *ngFor="let estado of ejercicioEstados | async" [value]="estado.id">
                {{ estado.estatus }}
              </mat-option>
            </mat-select>
            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <button mat-raised-button class="save-button mat-accent" aria-label="Guardar" (click)="saveEjercicio()">
                        Guardar
                    </button>
                    <button mat-raised-button class="save-button mat-accent" aria-label="Cancelar" (click)="closeModal()">
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
        <div>
</div>
