.table-component {
  border: 2px solid blue;
  background-color: lightblue;
}

.table-row-component {
  border: 2px solid green;
  background-color: #cefdce;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

div[class|=m-Verde]{
  padding: 28px;
  background-color: greenyellow;
  font-weight: bold;
  color:black;
  margin: 0px;
  height: 65px;
}
div[class|=m-Amarillo]{
  padding: 28px;
  background-color: yellow;
  font-weight: bold;
  color:black;
  height: 65px;
}
div[class|=m-Rojo]{
  padding: 28px;
  background-color: red;
  font-weight: bold;
  color:black;
  margin: 0px;
  height: 65px;
}
div[class|=m-l]{
  padding: 20px;
  color:black;
  margin: 0px;
  font-weight: bold;
  text-overflow: ellipsis;
  width: 75px;
  height: 65px;
}

