<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Matriz, Probabilidad Impacto: {{nombreEjercicio}}</span>
      <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0">
    <div class="button-row">
      <button mat-flat-button color="accent" (click)="download()">Descargar PDF</button>
    </div>

    <br />

    <div>
      <mat-form-field fxFlex>
        <mat-label><b>Proceso</b></mat-label>
        <input matInput placeholder="Proceso:" [value]="selectedProcess.proceso_Nombre" disabled >
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label><b>Proceso</b></mat-label>
        <input matInput name="ejercicio_desc" placeholder="Ejercicio:" [value]="nombreEjercicio" disabled >
      </mat-form-field>
    </div>

    <div fxLayout="colum" id="probabilidadImpacto">
      <div style="margin-top: 10px; margin-left: 5px; margin-right: 40px;">
        <div fxFlex="15">
          <table>
            <tr>
              <th style="text-align: initial;">
                <div class="m-l">Probabilidad / Impacto</div>
              </th>
            </tr>
            <tr *ngFor="let ch of probabilidades">
              <td>
                <div class="m-l">{{ ch.probabilidad }} ({{ch.puntaje}})</div>
              </td>
            </tr>
          </table>
        </div>
        <div fxFlex="">
          <table>
            <tr>
              <th *ngFor="let col of impactos">
                <div class="m-l"> {{col.impacto}} ({{col.puntaje}})</div>
              </th>
            </tr>
            <tr *ngFor="let ch of probabilidades">
              <td *ngFor="let col of impactos">
                <div class="m-{{colorPorImpactoYProbabilidad(col.puntaje, ch.puntaje)}}">
                  <a (click)="mostrarRiesgos(col.puntaje, ch.puntaje)" style="font-size: 20px; color:black">{{filtrarRiesgosPorImpactoYProbabilidad(col.puntaje,
                    ch.puntaje)}}</a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div fxFlex="10">
          <div class="m-x"></div>
          <div class="m-x"> Intolerable
            <div _ngcontent-c23="" class="ng-star-inserted is-red"></div>
          </div>
          <div class="m-x"> Moderado
            <div _ngcontent-c23="" class="ng-star-inserted is-yellow"></div>
          </div>
          <div class="m-x"> Tolerable
            <div _ngcontent-c23="" class="ng-star-inserted is-green"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="content p-24">

      <div class=" mat-elevation-z8">

        <ngx-datatable class="material"
                       [rows]="rows"
                       [loadingIndicator]="loadingIndicator"
                       [columnMode]="'force'"
                       [headerHeight]="48"
                       [footerHeight]="56"
                       [rowHeight]="'auto'"
                       [scrollbarH]="true"
                       [reorderable]="reorderable"
                       [limit]="10">

          <ngx-datatable-column name="Color" [canAutoResize]="false" [sortable]="false">
            <ng-template let-row="row" let-rowIndex="rowIndex" let-id="value" ngx-datatable-cell-template>
              <div [ngClass]="getCellClass(row)">

              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Riesgo" prop="factor_riesgo">
          </ngx-datatable-column>

          <ngx-datatable-column name="Probabilidad" prop="probabilidad">
          </ngx-datatable-column>

          <ngx-datatable-column name="Impacto" prop="impacto">
          </ngx-datatable-column>

          <ngx-datatable-column name="Severidad" prop="severidad">
          </ngx-datatable-column>

          <ngx-datatable-column name="Estatus" prop="estatus_riesgo_id">
            <ng-template let-row="row" let-rowIndex="rowIndex" let-id="value" ngx-datatable-cell-template>
              {{row.estatus_riesgo_id === 1 ? 'Pendiente' : 'Mitigado'}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Fecha ulitmo ejercicio" prop="fecha_ultimo_ejercicio">
            <ng-template let-row="row" let-rowIndex="rowIndex" let-id="value" ngx-datatable-cell-template>
              {{row.fecha_ejercicio | date:"yyyy/MM/dd"}}
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

      </div>
    </div>
  </div>
</div>
