<div id="process-classes" class="p-24">

    <div class="mat-title">Procesos</div>

    <div class="mat-white-bg mat-elevation-z4 p-24">

        <div fxLayoutAlign="start start" fxLayout.gt-md="row">

            <form name="form" layout-align="column" fxFlex="100" [formGroup]="processForm">
                <div fxLayout="column" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100">
                      <mat-label><b>Proceso / Sub proceso</b></mat-label>
                        <input matInput placeholder="Proceso / Sub proceso" formControlName="proceso_Nombre" required (input)="setProcessName($event)">
                        <mat-error *ngIf="formErrors.proceso_Nombre.required">
                            Proceso / sub proceso es requerido !
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                      <mat-label><b>Código proceso</b></mat-label>
                        <input matInput placeholder="Código proceso" formControlName="proceso_Codigo" >
                        <mat-error *ngIf="formErrors.proceso_Codigo.required">
                            Código proceso es requerido !
                        </mat-error>
                    </mat-form-field>

                  <mat-form-field fxFlex="100">
                    <mat-label><b>Descripción</b></mat-label>
                    <textarea matInput placeholder="Descripción" formControlName="proceso_Descripcion" > </textarea>
                    <mat-error *ngIf="formErrors.proceso_Codigo.required">
                      Código proceso es requerido !
                    </mat-error>
                  </mat-form-field>

                    <mat-form-field fxFlex="100">
                      <mat-label><b>Tipo de proceso</b></mat-label>
                        <mat-select placeholder="Tipo de proceso" formControlName="proceso_Tipo" >
                            <mat-option [value]="1">
                                MISION
                            </mat-option>
                            <mat-option [value]="2">
                                APOYO
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formErrors.proceso_Tipo.required">
                            Country is required!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                      <mat-label><b>Responsable</b></mat-label>
                      <mat-select placeholder="Responsable" formControlName="proceso_Responsable_Id" >
                        <mat-option *ngFor="let resp of responsables | async" [value]="resp.responsable_id">{{resp.nombre}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                   <mat-form-field fxFlex="100">
                     <mat-label><b>Nombre del documento</b></mat-label>
                        <input matInput placeholder="Nombre del documento" formControlName="proceso_Documento">
                    </mat-form-field>

                    <input type="file" (change)="handleFileInput($event.target.files)" placeholder="Cargar archivo" >

                </div>

            </form>

        </div>

    </div>

</div>
