<div id="riesgos-classes" class="page-layout simple tabbed" fxLayout="column">
    <!-- CONTENT -->
    <div class="content">
      <h5>HOLA BB</h5>
        <!--mat-tab-group dynamicHeight="true">

            <mat-tab label="Riesgos">
                <riesgos-classes #riesgos></riesgos-classes>
            </mat-tab>

            <mat-tab label="Ejercicios de evaluación, riesgos por proceso">
                <riesgos-classes #ejercicios></riesgos-classes>
            </mat-tab>

        </mat-tab-group-->
    </div>
</div>
