

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {

}

div[class|=m-1]{
  padding: 24px;
  background-color: greenyellow;
  color:black;
  margin: 0px;
}
div[class|=m-2]{
  padding: 24px;
  background-color: greenyellow;
  color:black;
  margin: 0px;
}
div[class|=m-3]{
  padding: 24px;
  background-color: greenyellow;
  color:black;
  margin: 0px;
}
div[class|=m-4]{
  padding: 24px;
  background-color: yellow;
  color:black;
  margin: 0px;
}
div[class|=m-5]{
  padding: 24px;
  background-color: yellow;
  color:black;
  margin: 0px;
}
div[class|=m-5]{
  padding: 24px;
  background-color: yellow;
  color:black;
  margin: 0px;
}
div[class|=m-6]{
  padding: 24px;
  background-color: yellow;
  color:black;
  margin: 0px;
}
div[class|=m-7]{
  padding: 24px;
  background-color: red;
  color:black;
  margin: 0px;
}
div[class|=m-8]{
  padding: 24px;
  background-color: red;
  color:black;
  margin: 0px;
}
div[class|=m-9]{
  padding: 24px;
  background-color: red;
  color:black;
  margin: 0px;
}
