<div id="declaracion-classes" class="page-layout simple tabbed" fxLayout="column">
  <!-- CONTENT -->
  <div class="content">

    <div class="content p-24">
      <div>
        <mat-form-field fxFlex="">
          <input matInput name="bcc" placeholder="Proceso / Subproceso" disabled fxFlex="" [value]="proceso.proceso_Nombre">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput name="bcc" placeholder="Ejercicio" disabled [value]="ejercicio.fecha_creacion_ejercicio | date:'yyyy/MM/dd'">
        </mat-form-field>
        <mat-form-field fxFlex="">
          <input matInput name="bcc" placeholder="Factor de riesgo" disabled [value]="factorRiesgo">
        </mat-form-field>
      </div>
    </div>

    <mat-tab-group dynamicHeight="true">

      <mat-tab label="Declaración">
        <declaracion-create #declaracion (cambiarFactorRiesgo)="actualizarFactorRiesgo($event)"></declaracion-create>
      </mat-tab>

      <mat-tab label="Causas">
        <causas-lists #causas (actualizarProbabilidad)="actualizarValores($event)"></causas-lists>
      </mat-tab>

      <mat-tab label="Efectos">
        <efectos-lists #efectos (actualizarImpacto)="actualizarValores($event)"></efectos-lists>
      </mat-tab>

      <mat-tab label="Controles">
        <controles-lists #controles (actualizarEfectividad)="actualizarValores($event)"></controles-lists>
      </mat-tab>

    </mat-tab-group>
  </div>
  <div class="button-row" fxLayoutAlign="center center" fxLayout="row" style="color:#fff">
    <button mat-raised-button color="primary" (click)="guardarDeclaracionRiesgo()">
      <mat-icon aria-label="save icon">save</mat-icon>
      Guardar
    </button>
    <button mat-raised-button color="warn">
      <mat-icon aria-label="save icon">cancel</mat-icon>
      Salir
    </button>
  </div>
</div>
