<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Efectividad de los controles</span>
            <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0">
        <form name="composeForm" [formGroup]="composeForm" class="compose-form" (ngSubmit)="saveControlsRisk()" fxLayout="column" fxFlex>

            <mat-form-field>
              <mat-label><b>Efectividad</b></mat-label>
                <input matInput name="causes" placeholder="Efectividad" formControlName="efectividad_nombre" type="text">
            </mat-form-field>

          <mat-form-field>
            <mat-label><b>Puntaje</b></mat-label>
            <input matInput name="causes" placeholder="Puntaje" formControlName="puntaje" type="number">
          </mat-form-field>

            <mat-form-field>
              <mat-label><b>Descripción</b></mat-label>
                <textarea matInput name="descripcion" placeholder="Descripción" formControlName="descripcion" rows="4">
                </textarea>
            </mat-form-field>
            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <button mat-raised-button class="save-button mat-accent" aria-label="Guardar" [disabled]="composeForm.invalid" type="submit">
                        Guardar
                    </button>
                    <button mat-raised-button class="save-button mat-accent" aria-label="Cancelar" (click)="closeModal()">
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
