<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Caracterización del Proceso / Subproceso</span>
            <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0">
        <form name="composeForm" [formGroup]="composeForm" class="compose-form" fxLayout="column" fxFlex>

            <mat-form-field>
              <mat-label><b>Procedimiento</b></mat-label>
                <input matInput name="subject" placeholder="Procedimiento" formControlName="procedimiento_Nombre">
            </mat-form-field>

            <mat-form-field>
              <mat-label><b>Código Procedimiento</b></mat-label>
              <input matInput name="subject" placeholder="Código Procedimiento" formControlName="procedimiento_Codigo">
            </mat-form-field>

          <mat-form-field>
            <mat-label><b>Objetivo</b></mat-label>
            <input matInput name="message" placeholder="Objetivo" formControlName="procedimiento_Objetivo">
          </mat-form-field>

            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
              <div>
                <button mat-raised-button class="save-button mat-accent" aria-label="Guardar" (click)="guardar()">
                  Guardar
                </button>
                <button mat-raised-button class="save-button mat-accent" aria-label="Cancelar" (click)="salir()">
                  Cancelar
                </button>
              </div>
            </div>
        </form>
    </div>
</div>
