<div id="characterization-classes" class="p-24">

    <div class="mat-title">Caracterización</div>

    <div class="mat-white-bg mat-elevation-z4 p-24" fxLayout="column">

    <div class="button-row">
        <button mat-raised-button color="primary" (click)="characterizationDialog()">Nuevo</button>
    </div>

        <div class="content p-24">

            <div class=" mat-elevation-z8">

                <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48"
                    [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable" [selectionType]="'checkbox'"
                    [limit]="10">

                    <ngx-datatable-column [width]="130"
                                          [canAutoResize]="false"
                                          [sortable]="false">

                      <ng-template ngx-datatable-header-template>
                        <!--button mat-button>Más info</button-->
                        <!-- Parce este botón es el que lanza la información de la caracterización -->
                        <button mat-raised-button color="accent" (click)="characterizationInfoDialog()">Ver</button>
                      </ng-template>

                      <ng-template ngx-datatable-cell-template>
                        <button mat-raised-button color="accent" (click)="characterizationInfoDialog()">Ver</button>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Proceso" prop="proceso">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Procedimiento" prop="procedimiento">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Código procedimiento" prop="codigo">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Objetivo" prop="objetivo">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Documentos" prop="documentos">
                    </ngx-datatable-column>
                </ngx-datatable>

            </div>
        </div>

    </div>
