<div id="processes-classes" class="page-layout simple tabbed" fxLayout="column">


    <!-- CONTENT -->
    <div class="content">
        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Procesos">
                <process-classes #process></process-classes>
            </mat-tab>

            <mat-tab label="Productos / Servicios">
                <product-classes #products></product-classes>
            </mat-tab>

            <mat-tab label="Caracterización">
                <characterization-classes></characterization-classes>
            </mat-tab>
        </mat-tab-group>
    </div>
  <div class="button-row" fxLayoutAlign="center center" fxLayout="row" fxFlex="50">
    <button mat-raised-button color="accent" (click)="processData()">Guardar</button>
    <button mat-raised-button color="warn">Salir</button>
  </div>

</div>
