<div id="processes-classes" class="page-layout simple tabbed" fxLayout="column">


    <!-- CONTENT -->
    <div class="content">
        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Procesos">
                <process-classes #procesos></process-classes>
            </mat-tab>

            <mat-tab label="Productos / Servicios">
                <product-classes #productos></product-classes>
            </mat-tab>

            <mat-tab label="Caracterización">
                <characterization-classes #caracterizaciones></characterization-classes>
            </mat-tab>

        </mat-tab-group>

    </div>
  <div class="button-row" fxLayoutAlign="center center" fxLayout="row" fxFlex="100">
    <button mat-button color="accent" (click)="processData()">Guardar</button>
    <button mat-button color="warn">Salir</button>
  </div>

</div>
