<div id="processes-classes" class="page-layout simple tabbed" fxLayout="column">
    <!-- CONTENT -->
    <div class="content">
        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Procesos">
                <process-classes [procesoEditar]="procesoEditar" #procesos></process-classes>
            </mat-tab>

            <mat-tab label="Productos / Servicios">
                <product-classes [productosServiciosEditar]="productosServiciosEditar" #productos></product-classes>
            </mat-tab>

            <mat-tab label="Caracterización">
                <characterization-classes [caracterizacionesEditar]="caracterizacionesEditar"  #caracterizaciones></characterization-classes>
            </mat-tab>
        </mat-tab-group>
    </div>
  <div class="button-row" fxLayoutAlign="center center" fxLayout="row" style="color:#fff">
    <button mat-raised-button color="primary" (click)="processData()">
      <mat-icon aria-label="save icon">save</mat-icon>
      Guardar
    </button>
    <button mat-raised-button color="warn">
      <mat-icon aria-label="save icon">cancel</mat-icon>
      Salir
    </button>
  </div>

</div>
