<div id="processes-classes" class="page-layout simple tabbed" fxLayout="column" fusePerfectScrollbar>


    <!-- CONTENT -->
    <div class="content">
        <h1>Procesos</h1>
        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Producto">
                <product-classes></product-classes>
            </mat-tab>

            <mat-tab label="Procesos / producto">
                <process-classes></process-classes>
            </mat-tab>

            <mat-tab label="Caracterización">
                <characterization-classes></characterization-classes>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
