// Import Fuse main library
@import "@fuse/scss/core";

.is-green {

  color: green!important;
}

.is-red {

  color: red!important;
}

.is-yellow {

  color: #FFC107!important;
}

.ngx-datatable.material {
  .datatable-header {
    .datatable-header-cell {
      color:#1e88e1;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
