// Import Fuse main library
@import "@fuse/scss/core";

.is-red {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}

.is-green {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: green;
}

.is-yellow {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: yellow;
}

.ngx-datatable.material {
  .datatable-header {
    .datatable-header-cell {
      color:#1e88e1;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
