:host {

    #risk-rating {

        .search-datatable{
          padding:8px;
          margin:15px auto;
          width:30% !important;
          margin-left: 20px;
        }

        .is-green {
          background: green;
          color: green;
        }

        .is-red {
          background: red;
          color: red;
        }

        .is-yellow {
          background: yellow;
          color: yellow;
        }

        .content {

            form {
                width: 100%;
                max-width: 800px !important;
            }

            .form-errors-model {
                flex: 1;

                code {
                    background: none !important;
                }
            }

            .horizontal-stepper-wrapper,
            .vertical-stepper-wrapper {
                max-width: 800px;
            }
        }
    }
}
