<div id="risk-rating" class="p-24" fxFlex="100%">

        <div class="mat-title">Calificación del riesgo</div>

        <div class="mat-white-bg mat-elevation-z4 p-24" fxLayout="column">

        <div class="button-row">
            <button mat-raised-button color="primary" (click)="ratingDialog()">Nuevo</button>
        </div>

            <div class="content p-24">

                <div class=" mat-elevation-z8">

                  <ngx-datatable class="material"
                                 [rows]="ratingTypes"
                                 [loadingIndicator]="loadingIndicator"
                                 [columnMode]="'force'"
                                 [headerHeight]="48"
                                 [footerHeight]="56"
                                 [rowHeight]="'auto'"
                                 [scrollbarH]="true"
                                 [reorderable]="reorderable"
                                 [limit]="10">

                        <ngx-datatable-column name="Calificación del riesgo" prop="nombre_calificacion_riesgo">
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Rango mínimo" prop="rango_minimo">
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Rango máximo" prop="rango_maximo">
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Rango máximo" prop="color">
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Acción a tomar" prop="accion_tomar">
                        </ngx-datatable-column>

                    </ngx-datatable>

                </div>
            </div>

        </div>
</div>
